.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.product {
  padding: 20px;
  background-color: var(--foreground);
}

.product img {
  margin: 0 auto;
  display: block;
}

.product .description {
  margin-top: 20px;
  font-size: 1.8rem;
}

.product .bottom {
  margin-top: 20px;
  display: flex;
}

.product .price {
  flex-grow: 1;
  font-size: 2.2rem;
}

.product .bottom img {
  cursor: pointer;
}

.company-description-hr {
  margin-top: 70px;
  margin-bottom: 20px;
}

.company-description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
